<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jorgegonzalezcabrera.outgoing">

    <application
        android:name=".applications.myApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.initialConfigurationActivity"
            android:label="Initial configuration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActiviy"
            android:theme="@style/SplashStyle">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.editOutgoingCategoryActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.TransparentActivity" />
        <activity
            android:name=".activities.editFieldActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.TransparentActivity" />
        <activity
            android:name=".activities.editPeriodicEntryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>